
ul li{
  list-style-type: none;
  padding:0;
  margin:0;
}
#menu{
  width: 300px;
  margin: 0 auto;
  display: flex;
}
#menu li{
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ddd;
}
#menu a{
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ddd;
}

.subList{
  display: none;
}
.submit-show>.subList{
  display: block;
}