.wrap{
  margin: 30px auto 0;
  width: 800px;
}
.nav{
  display: flex;
  border-bottom: 1px solid #000;
}
.nav a{
  flex: 1;
  font: 20px/40px "宋体";
  margin-bottom: -1px;
  text-align: center;
  text-decoration: none;
}
.nav .active{
  color: red;
  border-bottom: 1px solid red;
}
.subNav{
  display: flex;
}
.subNav a{
  flex:1;
  font:14px/30px "宋体";
  background: #eee;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.subNav .active{
  color: #fff;
  background: #000;
}